


.category-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 20px;
    gap: 10px;
}

.category-list li{
    padding: 12px;
    cursor: pointer;
}

.category-list a:hover{
    color: #6e75d6;
}

a{
    text-decoration: none;
    color: #ffffff;
}

.active-navlink{
    color: #6e75d6;
}
